<!DOCTYPE html>
<html ng-app="ToDoApp">
<head>
	<title>AngularJS Controller - Example</title>
</head>
<body ng-controller="TodoCtrl">
	
	<h1>Hello, {{name}}</h1>
	<ul>
		<li ng-repeat="todo in todos">
			<input type="checkbox" ng-model="todo.completed">
			{{ todo.name }}
		</li>
	</ul>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script>

		var app = angular.module('ToDoApp', []);

		app.controller('TodoCtrl', function($scope) {

			$scope.todos = [
				{ name : 'Master HTML/CSS/Javascript', completed :true },
				{ name : 'Learn AngularJS', completed :false },
				{ name : 'Build NodeJS backend', completed :false },
				{ name : 'Get started with ExpressJS', completed :false },
				{ name : 'Setup MongoDB database', completed :false },
				{ name : 'Be awesome!', completed :false },
			];

			$scope.name = "Thomas";
		});

	</script>
	
</body>
</html>