<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Custom Directives</title>
</head>
<body>
	
	<input type="text" ng-model="color">

	{{ color }}

	<div color-text color={{color}}><h1>Default Text<h1></div>

	<color-text color="{{color}}"></color-text>

	<test>Default Test element</test>

	<childs:Scope>Default Child Scope</childs:Scope>

	<isolated:scope>Default isolated Scope</isolated:scope>

	<div ng-controller="MainCtrl">
		<input type="text" ng-model="bgcolor" placeholder="Enter your color">
		<hello:world bgcolor="{{bgcolor}}">Default HelloWorld Msg</hello:world>

			<div output-text>
				<p>Hello {{name}}</p>
			</div>
	</div>




	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>